 #container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 35%;
    height:56.8125rem;
    margin:auto;
}
#logo{
    width: 24%;
    margin-top:1%;
    margin-left: 38%;
}

#quiz{
    margin-top:2%;
}

.center_text{
    font-size: 1.2rem;
    text-align:center;
    margin-top:3%;
    font-weight:500;
}

input{
    height: 2.34rem;
    background-color:#F6F6F6;
    border: 1px solid #E8E8E8;
    width:90%;
    margin:2% auto;
}

#age_container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 5%;
    /* border: 1px solid teal; */
    width: 75%;
    margin: 1% auto;
    margin-bottom: 5%;

}

#age_container>div{
    border: 1px solid #CCCCCC;
    padding-left: 33%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 5%;
}

hr{
    border: 1px solid #E8E8E8;
    width: 95%;
    margin-top: 5%;
}

#gender_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border:1px solid red; */
    width:55%;
    margin: 5% auto;
}

#gender_container>div{
    border: 1px solid #CCCCCC;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    
}

#skin_concerns{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 5%;
    /* border:1px solid teal; */
    width: 80%;
    margin:5% auto;
}

#skin_concerns > div {
    border: 1px solid #CCCCCC;
    margin-bottom: 3%;
    padding-left: 36%;
    padding-top: 8%;
    padding-bottom: 8%;
}

#continue{
    /* width: 25%; */
    padding-top:2%;
    padding-bottom: 2%;
    background-color: #E78471;
    color: #F6F6F6;
    border: 1px solid #414042;
    font-size: 1.5rem;
    font-weight:lighter;
    padding-left: 4%;
    padding-right: 4%;
    margin:3% auto;
    /* border-radius: 4px; */
    
}

div{
    border-radius:0.25rem;
}