#container{
    width:80%;
    /* border:1px solid red; */
    height:2200px;
    margin:auto;
}

#first_line {
    font-size:1.125rem;
}

#logo{
    margin-left: 4%;
    margin-top:1%;
    
}

p{
    line-height: 1.3;
}

#rec{
    font-weight: 200;
}

.medicine{
    border:.125rem solid #E3D6B4;
    width:100%;
    height: 50rem;
    margin-bottom:2%;
    padding-left: 1.3%;
    padding-right:1.3%;
}

.med_name{
    text-align:center;
    font-size:1.1rem;
}

.med_img{
    width:30%;
    margin-left: 34%;
}
.grey{
    color: #8F8E8F;
    font-size: 1.125rem;
    
}

span{
    line-height: 1.3;
}

li{
    list-style: 1.4;
}

#two{
    height: 44rem;
}

#buy_now{
    background-color: #E78471;
    color:white;
    width: 20%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:0 auto;
    border: 0.063rem solid black;
    
    
}

div{
    border-radius: .2rem;
}

.yellow-line{
    background-color:#e78471;
    height:0.313rem;
    width:10%;
    margin-top:0;
    line-height:0;
}

.about-img{
    margin-left: 28%;
}

#vid-container{
    /* border:1px solid red; */
    width: 60%;
    height:400px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    
}

#vid-container>:nth-child(1){
    margin-right: 2%;
}

#vid-container> div{
    width: 16.875rem;
    border: 1px solid #bbb;
    padding: 1% 1% 3% 2%;
    box-shadow: 1px 3px 6px #bbb;
}

#vid-container>div> p{
    padding-left: 2%;
    padding-right: 3%;
}

#vid-container + h2{
    margin-top: 5%;
}

#img-box{
    /* margin-left: 6%; */
    text-align: center;
}

#img-box > img{
    width: 18.5%;
}


