<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Vedix</title>

    <link rel="stylesheet" href="./css/home/vedix_body.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>
<body>
    

<!-- main Container -->
    <div id="top-card">
        <p>Order Now & Get Assured Dispatch In 24hr
            <button>Order Now</button>
        </p>
    </div>
    <div id="container">
        
<!-- navigation -->
        <div id="navigation">
            <div class="brand-icon">
                <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/logo.svg?v=1585630376" alt="">
                </div>
            
                <div id="filterSection">
            
                  <div class="know-your-sh nav"> Know Your hair </div>
                  <div class="know-your-sh nav" onclick='window.location.href="/quiz1"'>Know Your Skin </div>
            
                  <div class="cart-log-icons" onclick='window.open("/product")'>
                      <i class="fa fa-shopping-cart" style="font-size:22px"></i>
                      <!-- <img src='prod.png' id='some-icon' onclick='window.location.href="../product/product.html"'> -->
                  </div>
                  
                  <div class="cart-log-icons" onclick='window.location.href="./register"'>
                      <i class="fa fa-lock" style="font-size:22px" ></i>
                  </div>
            
                </div>

        </div>

<!-- first div card  -->
        <div id="card-1">
            <div id="heading">
                <h1>India's Only Customised Ayurvedic Hair & Skin Regimen</h1>
                <h3>Hair & Skin - Vedix products are customised for YOUR needs</h3>
               <div class="know-your-sh">
                <div>Know Your hair ></div>
                <div>Know Your Skin ></div>
               </div>
            </div>

            <div id="head-img">
                <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/vx_banner_home_m.jpg?v=1609309318" alt="">
            </div>

        </div>

<!-- second div card          -->
        <div id="card-2">
            <div id="offer_img_card2">
                <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/vxhomefreebie.png?v=1632215816" alt="">
            </div>
            <div>
                <h2>Your Customised Hair Care Regimen Now Comes With A Booster Oil Worth Rs.299</h2>
                <h1 id="free_tag">FREE!</h1>

            </div>

             
        </div>
<!-- thrid div card  -->
        <div id="card-3">
            <div class="doshas">
                <h1>What Are Doshas?</h1>
                <br>
                <p>According to Ayurveda every person is born with a set of characteristics called as their Prakruti.</p>
                <p>Prakruti consists of Tri Dosha (3 Doshas) namely, Vata, Pitta and Kapha, according to the Tridosha Theory.</p>
                <p>Vata represents the workings of Air and Ether energy, Pitta represents the functions of Fire energy and Kapha represents the operations of 
                Water and Earth energy. The mechanism of these 5 energies regulate, direct, control and manage all the functions in one's body.</p>


            </div>
            <div class="doshas-img">
                <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/dosha-images.jpg?v=1595580913" alt="">
            </div>
        </div>
<!-- fourth div card  -->
        <div id="card-4">
            <div class="influe-doshas">
                <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/vedix-hand-mockup.jpg?v=1591011281" alt="">
            </div>
            <div class="influe-content doshas">
                <h1>The Influence Of Doshas On The Human Body</h1>
                <br>
                <p>As unique as your doshas are according to your Prakruti,
                your doshas do get elevated as you get older and get exposed to environmental changes. When the doshas are elevated, they create problems 
                and diseases in areas of your body, in which they are present. Elevation of one dosha may suppress the progress of the other 
                doshas in one's body. This leads to further disturbance in your bodily functions.</p>
                <p>To counter this, Vedix understands the state of elevated doshas in one's body through the Vedix Dosha Assessment
                Questionnaire. Based on the inputs given by the user, Vedix uses herbs and natural essentials, which can specifically help in controlling
                the damage cased by the elevated doshas.</p>
            </div>
        </div>

<!-- fifth div card  -->
        <div id="card-5">
            <div id="card-5-head">
                <h3>Vedix's 3-step Solution To Your Concern</h3>
                <div class="underline_div"></div>
            </div>

            <div id="card-5-1">

                <div id="card-01">
                    <div class="three_step">
                        <div class="step_num">01</div>
                        <div class="step_content">
                            <h2>Take The Vedix Dosha Assessment Questionnaire</h2>
                            <p>Answer simple questions about your hair, skin and wellness to help us assess your Unique Dosha Profile</p>
                        </div>
                    </div>

                </div>

            </div>
            <div id="card-5-2">

                <div id="card-02">

                    <div class="three_step" >
                        <div class="step_num">02</div>
                        <div class="step_content">
                            <h2>Get An Ayurvedic Doctor-Approved Dosha Analysis</h2>
                            <p>The Vedix certified team of Ayurvedic doctors ensure that the ingredients that go into your custom 
                                regimen match your inputs given in the Vedix Dosha Assessment Questionnaire.
                            </p>
                        </div>
        
                    </div>
                </div>

            </div>
            <div id="card-5-3">

                <div id="card-03">

                    <div class="three_step">
                        <div class="step_num">03</div>
                        <div class="step_content">
                            <h2>Order Your Custom Vedix Box</h2>
                            <p>Choose a subscription package that suits you and book your custom Vedix solution!</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

<!-- sixth div card  -->

        <div id="card-6-sliding-img">
            <div id = 'card-6-head'>
               <h1> 10,00,000+ Indians Like You Love Vedix!</h1>
                <div></div>
            </div>

            <div id="sliding-img-love-vedix">

                <div class="sliding-chars"> 
                    <div class="reviewer-img">

                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/ravivarma.png?v=1595576336" alt="">
                    </div>
                    <div class="reviewer-content">
                        <div class="rating">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                        </div>
                        <h3>Concern: Hair fall</h3>
                        <h3>Elevated Doshas: Pitta and Vata</h3>
                        <p>“I tried so hard for so long to fix my hair fall. But whatever I tried not only didn't work but also made it worse. When I heard about ayurvedic customised regimen, I could only think of two things, 1. It’s Ayurvedic so it has to be safe and 2. It is specifically made for my needs. So, I figured I’d give Vedix a try and I’m really glad that I did, I got my hair back and I see an evident difference from before!</p>
                        <p class="reviewer">Ravi Varma </p>
                        <p>Accountant</p>
                        
                    </div>
                </div>

                <div class="sliding-chars">
                    <div  class="reviewer-img">

                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/lata_krishna.png?v=1595576328" alt="">
                    </div>

                    <div class="reviewer-content">
                        <div class="rating">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                        </div>
                        <h3>Concern: Detox and Hair Health</h3>
                        <h3>Elevated Doshas: Pitta and Vata</h3>
                        <p>“I don't get any time to exercise or make something healthy to eat. I’m always eating outside food and because of that I developed a case of indigestion. I ordered Vedix Detox and Paavan Breathe Life Capsules for lung health after a friend told me that she uses Vedix wellness supplements and that they really helped her. Thank god I decided to get these. I feel healthier than before and I don't fall sick like I used to.”</p>
                        <p class="reviewer">Lata Krishnan</p>
                        <p>IT Professional</p>
                    </div>

                </div>

                <div class="sliding-chars"> 

                    <div class="reviewer-img">
                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/sukumar.png?v=1595576320" alt="">
                    </div>

                    <div class="reviewer-content">
                        <div class="rating">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                        </div>
                        <h3>Concern: Detox and Heart Health</h3>
                        <h3>Elevated Doshas: Pitta and Vata</h3>
                        <p>“My family has dealt with some of the serious heart conditions out there and I always wanted to protect myself from it. When I came across Vedix Heart health capsule (Vidhura Prolive Reboot) I saw that it's made with all-natural elements so it's safe and honestly I didn't see any reason as to why I shouldn't try it. So, I went ahead and placed an order and now, I feel much better and less worried.”</p>
                        <p class="reviewer">Sukumar Chowdary</p>
                        <p>Sales Manager</p>
                    </div>

                </div>

                <div class="sliding-chars">
                    <div class="reviewer-img">

                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/prithi.png?v=1595576311" alt="">
                    </div>

                    <div class="reviewer-content">
                        <div class="rating">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                        </div>
                        <h3>Concern: Detox and Skin Health</h3>
                        <h3>Elevated Doshas: Pitta and Vata</h3>
                        <p>“I travel a lot for my work, but only recently I noticed that I was falling sick often and I started to get breakouts on my skin. I never had this problem before, so I went online to see what was going on and found Vedix’s Health Quiz. I placed an order of the recommended wellness supplement to balance my elevated doshas and their Ultra Replenish Supplement for radiant skin. I could see results within a few weeks. I highly recommend it!”</p>
                        <p class="reviewer">Priti Patel</p>
                        <p>Radio Sales</p>
                    </div>

                </div>

                <div class="sliding-chars">
                    <div class="reviewer-img">

                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/shivaprasad.jpg?v=1605863916" alt="">
                    </div>
                   <div class="reviewer-content">
                        <div class="rating">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                        </div>
                        <h3>Concern: Acne</h3>
                        <h3>Elevated Doshas:  Pitta & Kapha</h3>
                        <p>I liked using products that are customised for me and totally natural! Vedix customised Ayurvedic skin care regimen has helped me get clear skin. Trust me, Vedix works better than any other skin care products out there. My skin feels so healthy and refreshed throughout the day. I highly recommend Vedix! </p>
                        <p  class="reviewer">Shiva Prasad</p>
                        <p>Software Engineer</p>
                       
                   </div>

               </div>

               <div class="sliding-chars">
                    <div class="reviewer-img">

                       <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/meenachowdari.jpg?v=1605863916" alt="">
                    </div>
                        <div class="reviewer-content">
                            <div class="rating">
                                <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                                <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                                <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                                <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                                <img data-src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849" alt="rating" src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/rating-star.svg?v=1589803849">
                            </div>
                            <h3>Concern: Tan & Acne</h3>
                            <h3>Elevated Doshas: Vata & Pitt</h3>
                            <p>I was breaking out so much and I didn't even know why. So I tried to go to one of those skin clinics and they suggested really expensive treatments. I found Vedix while searching for clear skin solutions online. Vedix is natural and is literally made for your unique skin. My vedix skin care regimen has helped me get my clear skin back!</p>
                            <p class="reviewer">Meena Chowdary</p>
                            <p>Interior Designer</p>
                        
                         </div>
                 </div>

            </div>
            

        </div>

<!-- seventh div card  -->
            <div id="card-7-awards-accol">
                <div id="card-7-head">
                    <h1>Awards & Accolades</h1>
                    <div></div>

                </div>

                <div id="card-7-Awards">
        
                    <div class="awards">
                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/cosmobrand1_1.png?v=1601538428" alt="">
                        <h4>Cosmopolitan Award:</h4>
                        <p>Best Breakthrough Product</p>                </p>
                    </div>
                    <div class="awards">
                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/enterprener.png?v=1596889363" alt="">
                        <h4>Entrepreneur Award:</h4>
                        <p>Best Ayurvedic Startup Of The Year</p>
                    </div>
                    <div class="awards">
                        <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/economicbrand_1.png?v=1601531187" alt="">
                        <h4>Economic Times Award:</h4>
                        <p>Best Customised Ayurvedic Brand</p>
                    </div>
            </div>
        </div>

    </div>
    <div id="footer-container">
        <!-- footer -->
      <div id="footer-content">
        <div>
            <h3>Quick Links</h3>
            <p>Blog</p>
            <p>Our Team</p>
            <p>About Us</p>
            <p>Contact Us</p>
        </div>
        <div>
            <h3>&nbsp;</h3>
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            <p>Content Policy</p>
            <p>Refunds & Cancellations</p>
            <p>Become An Affiliate</p>
        </div>
        <div>
            <h3>Follow Us</h3>
            <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/facebook.png?v=1589958280" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/instagram.png?v=1589958271" alt="">
            <img src="https://cdn.shopify.com/s/files/1/0037/7690/5283/files/Youtube-icon_62e7ba53-63d1-42c0-a538-f1497f11da75.png?v=1591359272" alt="">
            <p></p>
        </div>
        <div>
            <h3>Contact Us</h3>

            <p>+91 40714 34363</p>
            <p>(9AM - 6PM, Mon - Sat)</p>
        </div>
        <div>
            <h3>&nbsp;</h3>
            <p>support@vedix.com</p>
        </div>

        </div>

        <h4 style="text-align: center; padding: 10px;">Copyright © 2021.</h4>
    </div>
</body>
</html>

