<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>Skin Subscription</title>
   
    <link rel="stylesheet" href="/css/quizzes/subscription.css ">
    
</head>
<body>
    <div id="container">

    <img src="/css/quizzes/images/logo.svg" alt="" id="logo"
    onclick = 'window.location.href="/"'> <br>

    <br><p id="first_line"></p>

    <p class='grey'>This is Dr. Zeel Gandhi, Expert Ayurvedic Formulator at Vedix. I’ll be taking you through your skin analysis.</p>

    <p class='grey'>You have identified Pigmentation as your primary skin concern. Based on the analysis of your dosha profile,
         your skin’s characteristics and your lifestyle,
         here is the recommended 3-step customised Ayurvedic skincare regimen formulated with 20+ natural handpicked ingredients and 0 harmful chemicals, best
          suited for Pigmentation.

    </p>

        <p class='grey'>The 3 product customised Ayurvedic regimen comes with the Cleanser, Face serum and Moisturiser for all-around care for your skin.</p>


    <h2 id='rec'></h2>
    

    <div class="medicine">

        <p class="med_name">Tejas Essentia No-Foam Face Cleanser</p>

        <img src="/css/quizzes/images/vx-skin-men-tejas-cleanser.png" alt="" class='med_img'>

        <p class='grey'>CLEANSE With India’s First Non- Synthetic, Saponin-Based Cleanser</p>

        <ul class='grey'>
            <li class='grey'>Clears impurities from the skin</li>
            <li class='grey'>Unclogs pores</li>
            <li class='grey'>Gently removes dead skin</li>
        </ul>

        <p class='grey'>Made with natural and traditionally proven essentials that work effectively, such as: </p>

        <span class="med_name">Emblica officinalis</span> 
        <span class="grey">(Amalaki), enriched in vitamin C, helps to brighten, tone and soften. It reduces free radicals thus controlling premature signs
             of wrinkles ageing & dryness. </span> <br>

        <span class="med_name">Azadirachta Indica</span> 
        <span class="grey">(Nimba) is a strong regenerative herb, it fights acne, eczema and other skin disorders. It reduces skin pigmentation and helps
             reduce the appearance of dark circles. </span><br>

        <span class="med_name">Sapindus Mukorossi</span> 
        <span class="grey">(Arishtaka) helps in the foaming and is packed with anti-inflammatory, antimicrobial, and antioxidant compounds, Arishtaka also
             helps in healing skin wounds.  </span> <br>

            <p class="med_name">No Alcohol, Oil, Silicones,Sulfates, Parabens, Synthetic Surfactants!</p>

    </div>


    <div class="medicine" id="two">

        <p class="med_name">Irya Spot Correcting Face Serum</p>

        <img src="/css/quizzes/images/irya-img.png" alt="" class='med_img'>

        <p class='grey'>ADDRESS your pigmentation issues with a SLS & Paraben-free face serum</p>

        <ul class='grey'>
            <li class='grey'>Fights dark spots and scars caused due to acne</li>
            <li class='grey'>Rejuvenate your skin and fight unwanted redness and blemishes</li>
            <li class='grey'>Promote the growth of new skin cells by getting rid of dead skin</li>
        </ul>

        <p class='grey'>Proven to help your skin stay soft and smooth, the natural elements that make the Vedix Face Serum unique to you are: </p>

        <span class="med_name">Symplocos Racemosa</span> 
        <span class="grey">(Lodh),is calming in nature, helps to improve complexion and provides healthy skin. It brightens the skin and
             gives it a natural clear look. </span> <br>

        <span class="med_name">Psoralea Corylifolia</span> 
        <span class="grey">(Bakuchi) Packed with anti-inflammatory properties, it helps calm skin and improve overall skin complexion.</span><br>

        <span class="med_name">Allium cepa</span> 
        <span class="grey">(Palandu) is rich in vitamin A & C . Known for its healing properties it helps improve the appearance of
             your skin by healing scars, and reducing acne.  </span> <br>

            <!-- <p class="med_name">No Alcohol, Oil, Silicones,Sulfates, Parabens, Synthetic Surfactants!</p> -->

    </div>



    <div class="medicine">

        <p class="med_name">Kavan HydraLite Moisturizing Face Gel</p>

        <img src="/css/quizzes/images/hydra-gel-img.png" alt="" class='med_img'>

        <p class='grey'>MOISTURIZE your face & strengthen your skin’s barrier with this customised
             100% Ayurvedic moisturizer</p>

        <ul class='grey'>
            <li class='grey'>Keeps skin hydrated</li>
            <li class='grey'>Restores skin barrier</li>
            <li class='grey'>Protects against UVA & UVB rays</li>
        </ul>

        <p class='grey'>The all-natural ingredients that make it ideal for you are:  </p>

        <span class="med_name">Centella asiatica</span> 
        <span class="grey"> (Brahmi) stimulates collagen production,aiding cell renewal and tissue repair,
             thus diminishing fine lines, spots and signs of photo-ageing. </span> <br>

        <span class="med_name">Berberis Aristata</span> 
        <span class="grey">(Daruharidra) is packed with antioxidants, helping skin fight early signs of
             ageing. It also removes clogged pores and inflammation from your skin, keeping acne in control. </span><br>

        <span class="med_name">Rubia cordifolia</span> 
        <span class="grey">(Manjishta), full of antioxidant properties it reduces inflammation
             & used to make the complexion even and lighten dark spots.  </span> <br>

           

    </div>


    <div id="buy_now" onclick="window.location.href='/product'">Buy Now @ Flat 50% off</div>


   <h2>What’s Unique About Vedix?</h2>

   <p class="grey">Vedix is India’s first customised Ayurvedic skincare brand made from 100% natural ingredients. This is a skincare brand that
         is made in India celebrating the rich knowledge and heritage of Ayurveda.</p>
     <p class="grey">Generic products vs Vedix customised Ayurveda</p>

     <p class="grey">Skin type differs from person to person and so do the skin concerns. These generic products may not work or sometimes work 
     but also show side effects too. More often than not, these products end up causing more damage than good.</p>

     <p class="grey">Vedix products are 100% natural, Ayurvedic and exclusively customised for every individual skin type based on 
     a thorough understanding of your skin type, texture, and your lifestyle and not just your skin issue. Interestingly, Vedix uses 
     a targeted approach to deal with specific skin concerns and is highly effective in providing long term results without any chemicals involved.</p>


          <img src="/css/quizzes/images/about.png" alt="" class='about-img'>


        <p class='grey'>How do Vedix formulations work on the skin?</p>
        <p class='grey'>Vedix used natural plant-based ingredients which are safe and easily absorbed by the skin for
        better results. What makes Vedix unique is that the products act beyond the surface of the skin.
         The key factor is to balance the elevated Dosha levels by using herbs and natural formulations.</p>

         <p class='grey'>The three product combination of Vedix Customised Ayurvedic Skin Care Regimen protects your
              skin from everyday damage; the cleanser is gentle on the skin and gets rid of the oil and 
              dirt, the moisturiser nourishes the skin preventing the drying of the skin and the serum 
              helps improve overall skin health.

        </p>

        <div id="vid-container">

          <div><iframe width="260"
               height="250"
                src="https://www.youtube.com/embed/HP7fpdqJDWI"
                 title="YouTube video player" 
                 frameborder="0"
                  allow="accelerometer;
                   autoplay;
                    clipboard-write;
                     encrypted-media;
                      gyroscope; 
                      picture-in-picture"
                       allowfullscreen>
                   
                   </iframe>
                   <p class='grey'>“They don't just say it, Vedix actually works”</p>
                   <p>- Hitesh</p>
    </div>
          <div><iframe 
               width="260"
                height="250" 
                src="https://www.youtube.com/embed/ntZUhb4yL98"
                 title="YouTube video player"
                  frameborder="0"
                   allow="accelerometer;
                    autoplay; 
                    clipboard-write;
                     encrypted-media;
                      gyroscope;
                       picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <p class="grey">“Vedix understood my skin & helped me get rid of my acne”</p>
                    <p>- Surya</p>
               </div>





        </div>

        <h2>India's Most Awarded Customised Ayurvedic Skin Care Regimen</h2>

        <div id="img-box">

               <img src="/css/quizzes/images/vx_skin_award_img1.png" alt="">
               <img src="/css/quizzes/images/vx_skin_award_img2.png" alt="">
               <img src="/css/quizzes/images/vx_skin_award_img3.png" alt="">
               <img src="/css/quizzes/images/vx_skin_award_img4.png" alt="">

           </div>


    </div>
</body>
</html>

<script src="/js/quizzes/ds_subs.js"></script>