<%- include("_header", {title: "Account - Vedix",
cssLink:"/css/customers/signup.css"})%>

<body>
  <div id="vedixLogo">
    <a href= "/"
      ><img src="./css/customers/images/vedix_logo.svg" alt="image"
    /></a>
  </div>
  <div id="signpForm">
    <h2>
      Sign Up
    </h2>
    <form action="/register" method="post">
      <label for="last_name"></label>
      <input
        id="first_name"
        name="first_name"
        type="text"
        placeholder="First Name"
        required
      />
      <label for="last_name"></label>
      <input
        id="last_name"
        name="last_name"
        type="text"
        placeholder="Last Name"
        required
      />
      <label for="email"></label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Email"
        required
      />
      <label for="password"></label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
      <input type="submit" value="Create" />
    </form>

    <div id="alertMsg"><%= err%></div>

    <div id="orPart">
      <div></div>
      <div>OR</div>
      <div></div>
    </div>
    <p id="continueWith">Continue With</p>
    <div id="iconsSignup">
      <div>
        <a href="https://www.facebook.com/"
          ><img src="./css/customers/images/fb_logo.png" alt="image"
        /></a>
      </div>
      <div>
        <a href="http://localhost:8787/auth/google"
          ><img src="./css/customers/images/google_logo.png" alt="image"
        /></a>
      </div>
    </div>
    <p id="alreadyAccount">
      Already have an account? <a href="./login">Sign in</a>
    </p>
    <p id="littleDetails">
      By clicking on the button above, I give Vedix permission to send me
      educational content on Customised Ayurveda and hair through emails.
    </p>
    <p id="useStatus">10,00,000+ Indians Use Vedix Everyday</p>
  </div>
</body>
